body {

	background-color: gray;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}



#topo{

	background-color: blue;
	display: inline-block;
	margin: auto;
	width: 85%;

}

#menu_horizontal{

	background-color: red;
	display: inline-block;
	margin: 0;
    padding: 0;
	margin: auto;
	width: 85%;

}

#menu_horizontal li{

	float: left;
	display: block;
    color: gray;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;

}

#menu_horizontal li:hover{
	background-color: #111;
}

#menu_horizontal ul{
	padding: 14px 100px;
    
	display: inline-block;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

#conteudo{
	background-color: green;
	margin: auto;
	width: 85%;

}

#footer{
	background-color: purple;
	margin: auto;
	width: 85%;
}
